* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-style: normal;
  font-synthesis: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: Futura PT;
  color: #2e2e30;
}
body h1 {
  font-size: 5.5vw;
}
body p {
  font-family: Helvetica;
}
body a {
  text-decoration: none;
  color: #2e2e30;
}

.btn {
  background-color: #D2FF28;
  color: #2e2e30;
  font-family: Futura PT;
  text-decoration: none;
  text-align: center;
  padding: 16px 32px 16px 32px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1.5px solid #2e2e30;
  box-shadow: 5px 5px;
}

.preloader {
  background-color: #2e2e30;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  transition: transform 0.8s ease;
}
.preloader.hidden {
  transform: translateY(-100%);
}
.preloader .video-loader {
  width: 100%;
  height: 100%;
  scale: 25%;
}

.sighej-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Adjust as needed */
  background-image: url("../img/sighej-content.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sighej-container.visible {
  opacity: 1;
  visibility: visible;
}
.sighej-container .sighej-close {
  display: block;
  color: #2e2e30;
  font-size: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}
.sighej-container .sighej-content {
  width: 60%;
  gap: 150px;
  display: grid;
}
.sighej-container .sighej-content .sighej-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.sighej-container .sighej-content .sighej-title p {
  font-size: 30px;
  font-family: Futura PT;
}
.sighej-container .sighej-content .sighej-title .overskrift {
  display: flex;
  align-items: center;
  text-align: center;
}
.sighej-container .sighej-content .sighej-title .overskrift img {
  width: 5em;
}
.sighej-container .sighej-content .sighej-title .overskrift p {
  font-size: 4em;
  font-family: Futura PT;
}
.sighej-container .sighej-content .sighej-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  text-align: start;
  justify-content: center;
}
.sighej-container .sighej-content .sighej-contact div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Futura PT;
  font-size: 20px;
  width: 100%;
}
.sighej-container .sighej-content .sighej-contact div p {
  font-family: Futura PT;
  font-size: 30px;
}
.sighej-container .sighej-content .sighej-contact div div {
  flex-direction: row;
  gap: 15px;
}
.sighej-container .sighej-content .sighej-contact div div a {
  color: #2e2e30;
  text-decoration: none;
}

.header-mobile {
  display: none;
}

.header-computer {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  justify-items: center;
  align-items: center;
  height: 10vh;
  background-color: white;
}
.header-computer a img {
  width: 50px;
}
.header-computer ul {
  display: flex;
  list-style-type: none;
  gap: 100px;
}
.header-computer li {
  display: inline;
  margin-right: 20px;
  position: relative;
}
.header-computer li:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3454D1;
  transition: width 0.3s ease;
}
.header-computer li:hover:after {
  width: 100%;
}
.header-computer li.active:after {
  width: 100%;
}
.header-computer a {
  font-family: Futura PT;
  font-size: 18px;
  color: #2e2e30;
  text-decoration: none;
}
.header-computer .sighej {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-computer .sighej div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-computer .sighej div p {
  font-family: Futura PT;
}
.header-computer .sighej img {
  max-width: 100%;
  width: 25px;
}
.header-computer .sighej:hover img {
  animation: wave 0.5s infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

main {
  position: relative;
  z-index: 2;
}

.hero {
  padding: 0px 75px 0px 75px;
  z-index: 3;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
.hero img {
  max-width: 100%;
  width: 100%;
}
.hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.scroll-container {
  background-color: #3454D1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  gap: 20px;
  padding: 0px 20px 0px 20px;
  justify-content: center;
  align-items: center;
}
.scroll-container div {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 550px;
  border-radius: 10px;
  padding: 40px 75px 40px 75px;
  gap: 20px;
}
.scroll-container div .number {
  position: absolute;
  left: 7px;
  top: 7px;
  font-family: Futura PT;
  font-size: 20px;
  background-color: #D2FF28;
  border-radius: 100%;
  color: #2e2e30;
  text-align: center;
  padding: 5px 5px 5px 7px;
  border: 1.5px solid #2e2e30;
  box-shadow: 3px 3px;
}
.scroll-container div .two {
  color: white;
  background-color: #F71735;
  border: 1.5px solid #2e2e30;
  box-shadow: #2e2e30 3px 3px;
}
.scroll-container div .tree {
  color: white;
  background-color: #3454D1;
  border: 1.5px solid #2e2e30;
  box-shadow: #2e2e30 3px 3px;
}
.scroll-container div img {
  max-width: 100%;
  padding-bottom: 20px;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}
.scroll-container div h3 {
  font-size: 25px;
}
.scroll-container div i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  background-color: #D2FF28;
  border-radius: 100%;
  color: #2e2e30;
  text-align: center;
  padding: 5px 5px 5px 7px;
  border: 1.5px solid #2e2e30;
  box-shadow: 3px 3px;
}

.who-are-we {
  padding: 0px 75px 0px 75px;
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}
.who-are-we div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.who-are-we div h3 {
  font-size: 5vw;
  color: #2e2e30;
}
.who-are-we div div {
  display: flex;
  flex-direction: column;
}
.who-are-we div div p {
  font-family: Futura PT;
  font-size: 18px;
}
.who-are-we div div img {
  max-width: 100%;
  width: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 75px;
}
.who-are-we img {
  max-width: 100%;
}

.video-section {
  height: 100%;
  margin-bottom: 80vh;
  background-color: white;
  height: 100vh;
  position: relative;
  padding: 50px;
}
.video-section video {
  width: 100%;
  height: 100%;
}
.video-section .play-button {
  position: absolute;
  left: 48%;
  top: 45%;
  cursor: pointer;
}
.video-section .play-button i {
  font-size: 70px;
  color: #3454D1;
  background-color: white;
  border: solid white 2px;
  border-radius: 120px;
}

.cases-container {
  background-color: white;
  text-align: center;
  padding: 50px 75px 100px 75px;
  margin-bottom: 80vh;
}
.cases-container .cases-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 150px;
  grid-row-gap: 100px;
  padding-top: 75px;
}
.cases-container .cases-section div {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}
.cases-container .cases-section div img {
  max-width: 100%;
  border-radius: 20px;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-omos {
  display: grid;
  grid-template-columns: 1.1fr 0.5fr;
  align-items: center;
  background-color: white;
  padding: 0px 75px 100px 75px;
  height: 100%;
}
.hero-omos img {
  max-width: 100%;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-omos div h1 {
  font-size: 5vw;
}

.coworker {
  margin-bottom: 80vh;
  background-color: white;
  padding: 0px 75px 100px 75px;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}

aside {
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: sticky;
  top: 3em;
  z-index: 10;
}
aside a {
  text-decoration: none;
  color: #2e2e30;
}
aside a div {
  display: flex;
  align-items: center;
  gap: 75px;
}
aside a div p {
  font-family: Futura PT;
  font-size: 20px;
  opacity: 70%;
}
aside a div i {
  font-size: 20px;
  color: #3454D1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
aside a:hover i {
  opacity: 1;
}
aside a:hover p {
  opacity: 1;
}

.coworker-second-column {
  display: flex;
  flex-direction: column;
  gap: 10em;
  padding: 20px;
}
.coworker-second-column .solo {
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 170px;
}
.coworker-second-column .solo .person-tekst {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.coworker-second-column .solo .person-tekst .name {
  font-size: 25px;
}
.coworker-second-column .solo .person-tekst .work {
  font-size: 20px;
}
.coworker-second-column .solo .person-tekst .contact-info {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}
.coworker-second-column .solo .person-tekst .contact-info div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.coworker-second-column .solo .person-tekst .contact-info a {
  text-decoration: none;
  color: #2e2e30;
  font-family: Futura PT;
  font-size: 18px;
}
.coworker-second-column .solo .video-div {
  border-radius: 30px;
  overflow: hidden;
  display: flex;
}
.coworker-second-column .solo .video-div video {
  border-radius: 30px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  justify-self: center;
}

footer {
  width: 100%;
  background-color: #3454D1;
  height: 90vh;
  display: grid;
  grid-template-columns: 100px 1.5fr 1fr;
  gap: 40px;
  position: fixed;
  z-index: -1;
  bottom: 0;
}
footer .footer-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}
footer .footer-title a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
footer .footer-title h3 {
  color: white;
}
footer .column-first {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  justify-content: center;
  gap: 3em;
}
footer .column-first .column-first-title {
  display: flex;
  width: 100%;
  flex-direction: column;
}
footer .column-first h3 {
  margin: 0;
}
footer .column-first .title-tone {
  color: white;
  opacity: 80%;
  font-size: 60px;
}
footer .column-first .story {
  width: 100%;
  color: white;
  font-size: 60px;
}
footer .column-first .some {
  display: flex;
  gap: 2em;
}
footer .column-first .some a {
  text-decoration: none;
}
footer .column-first .some i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3454D1;
  background-color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
}
footer .column-first .oplysninger {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
footer .column-first .oplysninger div, footer .column-first .oplysninger a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  align-items: center;
}
footer .column-first .oplysninger i {
  color: white;
  background-color: none;
}
footer .column-first .oplysninger p {
  font-family: Futura PT;
  color: white;
  font-size: 16px;
}
footer .column-first .oplysninger .scroll-to-top a {
  display: flex;
  align-items: center;
}
footer .column-first .oplysninger .scroll-to-top i, footer .column-first .oplysninger .scroll-to-top p {
  text-transform: uppercase;
}
footer .column-first .oplysninger .scroll-to-top i {
  color: #3454D1;
  background-color: white;
  border-radius: 50px;
  padding: 10px 12px 10px 12px;
}
footer .column-second {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  gap: 7em;
  justify-content: center;
}
footer .column-second .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-family: Futura PT;
  list-style-type: none;
  font-size: 30px;
}
footer .column-second .footer-menu ul .footer-active {
  color: white;
  text-decoration: none;
}
footer .column-second .footer-menu ul .none-active {
  color: white;
  opacity: 70%;
  text-decoration: none;
}
footer .column-second .footer-menu ul .none-active:hover {
  opacity: 100%;
  transition: 0.2s ease-in-out;
}
footer .column-second .sendbesked {
  display: flex;
  gap: 10px;
}
footer .column-second .sendbesked i, footer .column-second .sendbesked a {
  color: white;
  font-size: 20px;
}
footer .column-second .sendbesked a {
  font-family: Futura PT;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header-mobile {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px 10px 20px;
    align-items: center;
  }
  .header-mobile .logo, .header-mobile .menu {
    max-width: 100%;
    width: 40px;
  }
  .preloader .video-loader {
    scale: 75%;
  }
  .header-computer {
    display: none;
  }
  .hero {
    background-image: url("../img/hero-bg-mobile.jpg");
    background-size: cover;
    grid-template-columns: 1fr;
    padding: 20px 20px 100px 20px;
    grid-template-rows: 0.7fr 1fr;
    gap: 10px;
    height: 92vh;
  }
  .hero img {
    order: 2;
  }
  .hero h1 {
    font-size: 50px;
  }
  .scroll-container {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    padding-bottom: 50px;
  }
  .scroll-container div {
    padding: 40px;
  }
  .who-are-we {
    grid-template-columns: 1fr;
    padding: 0px 20px 0px 20px;
    gap: 0px;
  }
  .who-are-we div h3 {
    font-size: 40px;
  }
  .who-are-we div div img {
    display: none;
  }
  .cases-container {
    margin-bottom: 95vh;
    padding: 0px 15px 0px 15px;
  }
  .cases-container h1 {
    font-size: 50px;
  }
  .cases-container .cases-section {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .cases-container .cases-section div {
    padding: 10px;
  }
  .cases-container .cases-section div h2 {
    font-size: 20px;
  }
  .cases-container .cases-section div img {
    height: 20vh;
    width: 100%;
  }
  .hero-omos {
    padding: 50px 20px 0px 20px;
    gap: 10px;
    grid-template-columns: 1fr;
  }
  .hero-omos div h1 {
    font-size: 30px;
  }
  aside {
    display: none;
  }
  .coworker {
    padding: 50px 20px 0px 20px;
    grid-template-columns: 1fr;
    margin-bottom: 95vh;
  }
  .coworker-second-column {
    gap: 5em;
  }
  .coworker-second-column .solo {
    flex-direction: column;
    align-items: start;
    height: 100%;
    gap: 3em;
  }
  .coworker-second-column .solo .person-tekst {
    width: 100%;
  }
  .coworker-second-column .solo .person-tekst .contact-info {
    flex-direction: column;
    gap: 1em;
    margin-top: 0;
  }
  .coworker-second-column .solo img {
    align-self: center;
  }
  .video-section {
    padding: 50px 20px 50px 20px;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 95vh;
  }
  .video-section .play-button {
    left: 40%;
    top: 40%;
    transform: scale(70%);
  }
  .video-div {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0;
  }
  .video-div video {
    -o-object-fit: cover;
       object-fit: cover;
    justify-content: center;
  }
  footer {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 50px 20px 50px 20px;
    height: 100%;
    gap: 0;
  }
  footer .footer-title {
    display: none;
  }
  footer .column-first .column-first-title h3 {
    font-size: 40px;
  }
  footer .column-first .oplysninger {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  footer .column-first .oplysninger .scroll-to-top {
    position: absolute;
    bottom: 30px;
  }
  footer .column-first .oplysninger .scroll-to-top a {
    display: flex;
    align-items: center;
  }
  footer .column-first .oplysninger .scroll-to-top i, footer .column-first .oplysninger .scroll-to-top p {
    font-size: 20px;
    text-transform: uppercase;
  }
  footer .column-first .oplysninger .scroll-to-top i {
    color: #3454D1;
    background-color: white;
    border-radius: 50px;
    padding: 10px 12px 10px 12px;
  }
  footer .column-second {
    gap: 2em;
    padding-top: 0;
    justify-content: start;
  }
  footer .column-second .footer-menu ul {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1080px) {
  .scroll-container {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */