//Variabler
$bg-color: #fff;
$font-overskrift: Futura PT;
$font-p: Helvetica;

//Colors
$primary-color: #3454D1;
$secondary-color: #D2FF28;
$red-color: #F71735;
$black-color: #28282B;

*{
    margin: 0;
    padding: 0;
}

body{
    h1, h2, h3, h4, h5 {
        font-family: $font-overskrift;
        color: $black-color;
    }
        h1{
            font-size: 5.5vw;
        }

    p {
        font-family: $font-p ;
    }

    overflow-y: scroll;
    overflow-x: hidden;
}


//button
.btn{
    background-color: $black-color;
    color: white;
    font-family: $font-overskrift;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px 16px 32px;
    border-radius: 10px;
    width: fit-content;
}

// Preloader af timeglas
.preloader  {
    background-color: $black-color;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    transition: transform 0.5s ease; 

    &.hidden  {
        transform: translateY(-100%); 
    }
    
        .video-loader{
            width: 100%;
            height: 100%;
            scale: 25%;
        }
}

.header-computer{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    justify-items: center;
    align-items: center;
    height: 10vh;

    ul{
        display: flex;
        list-style-type: none;
        gap: 50px;
    }
        li{
            font-family: $font-overskrift;
            font-size: 18px;
            color: $black-color;
        }

    a {
        font-family: $font-overskrift;
        font-size: 18px;
        color: $black-color;
        text-decoration: none;
    }

    .sighej {
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            max-width: 100%;
            width: 25px;
        }
    }
    .sighej:hover img {
        transform:rotate(-25deg);
        transition: 0.2s ease-in-out;
    }

}

.hero {
    z-index: 2;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;

    div {
        margin-top: 10em;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.scroll-container {
    background-color: $primary-color;
    height: 100vh;
    width: 500%;
    display: flex;
    flex-wrap: nowrap;
}

.panel,
.last-panel {
  width: 50vw;
  flex: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

.panel:nth-child(odd) {
  background-color: $primary-color;
  color:white;
}

@media (max-width: 767px) {
  .container {
    display: block;
  }
  .panel {
    background-color: lightpink;
    width: 100%;
  }
}


.cta {
    height: 100vh;
}
